<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title>Book new session</title>
</head>
<body class="container-fluid">
	<br/>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-4">
			<h1>Sessions</h1>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-3"></div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-3"></div>
  		<nav class="navbar navbar-expand-sm navbar-dark bg-dark col-sm-6">
  			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    			<div class="navbar-nav">
     				 <a class="nav-item nav-link" href="/exercise_list">Exercises</a>
     				 <a class="nav-item nav-link" href="/plan_list">Plans</a>
     				 <a class="nav-item nav-link active" href="/session_list">Sessions</a>
   			 	</div>
   			 	<p style="color: white; position: relative; left: 240px; top: 7px" th:inline="text"><b>Welcome <i>[[${#httpServletRequest.remoteUser}]]</i></b></p>
     				 <form style="position: relative; left: 260px" th:action="@{/logout}" method="post">
						<input type="submit" value="Sign Out" class="btn btn-light"/>
					</form>
  			</div>
 		 </nav>
 		 <div class="col-sm-3"></div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-3">
			<h3>New session</h3>
		</div>
		<div class="col-sm-3"></div>
		<div class="col-sm-3"></div>
	</div>
	<div>
		<form th:object="${session}" th:action="@{save_s}" action="#" method="post">
			<div class="form-row">
				<div class="form-group col-sm-3"></div>
				<div class="form-group col-sm-2">
					<label for="date"><b>Date</b></label>
					<input class="d-flex justify-content-end" type="date" id="date" th:field="*{date}" th:value="*{date}"/>
				</div>
				<div class="form-group col-sm-2">
					<label for="ptlist"><b>Personal Trainer</b></label>
					<select id="ptlist" th:field="*{pt}" class="d-flex justify-content-end">
						<option th:each="pt:${pts}"
								th:value="${pt.id}"
								th:text="${pt.name}">
						</option>
					</select>
				</div>
				<div class="form-group col-sm-2">
					<label for="planlist"><b>Plan</b></label>
					<select id="planlist" th:field="*{plan}" class="d-flex justify-content-end">
						<option th:each="plan:${plans}"
								th:value="${plan.id}"
								th:text="${plan.name}">
						</option>
					</select>
				</div>
				<div class="form-group col-sm-1">
					<label></label>
					<input type="submit" value="Save" class="d-flex justify-content-end btn btn-primary"></input>
				</div>
				<div class="form-group col-sm-2"></div>
			</div>
		</form>
	</div>
</body>
</html>