<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
<title>Edit exercise</title>
</head>
<body class="container-fluid">
	<br/>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-3">
			<h1>Exercises List</h1>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-3"></div>
  		<nav class="navbar navbar-expand-sm navbar-dark bg-dark col-sm-6">
  			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    			<div class="navbar-nav">
     				 <a class="nav-item nav-link active" href="/exercise_list">Exercises</a>
     				 <a class="nav-item nav-link" href="/plan_list">Plans</a>
     				 <a class="nav-item nav-link" href="/session_list">Sessions</a>
     				 <p style="color: white; position: relative; left: 240px; top: 7px" th:inline="text"><b>Welcome <i>[[${#httpServletRequest.remoteUser}]]</i></b></p>
     				 <form style="position: relative; left: 260px" th:action="@{../logout}" method="post">
						<input type="submit" value="Sign Out" class="btn btn-light"/>
					 </form>
   			 	</div>
  			</div>
 		 </nav>
 		 <div class="col-sm-3"></div>
	</div>
	<br/>
	<div>
		<form th:object="${exercise}" th:action="@{../save_e}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
			<div class="form-row">
				<div class="form-group col-sm-3"></div>
				<div class="form-group col-sm-2">
					<label for="title"><b>Title</b></label>
					<input class="d-flex justify-content-end" type="text" id="title" name="title" th:value="${exercise.title}" />
				</div>
				<div class="form-group col-sm-2">
					<label for="instruction"><b>Instruction (link)</b></label>
					<input class="d-flex justify-content-end" type="text" id="instruction" name="href" th:value="${exercise.href}" />
				</div>
				<div class="form-group col-sm-2">
					<label for="bplist"><b>Body part</b></label>
					<select id="bplist" name="bplist" th:field="*{part}" class="d-flex justify-content-end">
						<option th:each="part:${bodyparts}"
								th:value="${part.partId}"
								th:text="${part.part}"></option>
					</select>
				</div>
				<div class="form-group col-sm-1">
					<label></label>
					<input type="submit" value="Save" class="d-flex justify-content-end btn btn-primary"></input>
				</div>
				<div class="form-group col-sm-2"></div>
			</div>
		</form>
	</div>
</body>
</html>